# Ames Housing Data

### Data Dictionary:

MSSubClass: Identifies the type of dwelling involved in the sale.	

        20	1-STORY 1946 & NEWER ALL STYLES
        30	1-STORY 1945 & OLDER
        40	1-STORY W/FINISHED ATTIC ALL AGES
        45	1-1/2 STORY - UNFINISHED ALL AGES
        50	1-1/2 STORY FINISHED ALL AGES
        60	2-STORY 1946 & NEWER
        70	2-STORY 1945 & OLDER
        75	2-1/2 STORY ALL AGES
        80	SPLIT OR MULTI-LEVEL
        85	SPLIT FOYER
        90	DUPLEX - ALL STYLES AND AGES
       120	1-STORY PUD (Planned Unit Development) - 1946 & NEWER
       150	1-1/2 STORY PUD - ALL AGES
       160	2-STORY PUD - 1946 & NEWER
       180	PUD - MULTILEVEL - INCL SPLIT LEV/FOYER
       190	2 FAMILY CONVERSION - ALL STYLES AND AGES

MSZoning: Identifies the general zoning classification of the sale.
		
       A	Agriculture
       C	Commercial
       FV	Floating Village Residential
       I	Industrial
       RH	Residential High Density
       RL	Residential Low Density
       RP	Residential Low Density Park 
       RM	Residential Medium Density
	
LotFrontage: Linear feet of street connected to property

LotArea: Lot size in square feet

Street: Type of road access to property

       Grvl	Gravel	
       Pave	Paved
       	
Alley: Type of alley access to property

       Grvl	Gravel
       Pave	Paved
       NA 	No alley access
		
LotShape: General shape of property

       Reg	Regular	
       IR1	Slightly irregular
       IR2	Moderately Irregular
       IR3	Irregular
       
LandContour: Flatness of the property

       Lvl	Near Flat/Level	
       Bnk	Banked - Quick and significant rise from street grade to building
       HLS	Hillside - Significant slope from side to side
       Low	Depression
		
Utilities: Type of utilities available
		
       AllPub	All public Utilities (E,G,W,& S)	
       NoSewr	Electricity, Gas, and Water (Septic Tank)
       NoSeWa	Electricity and Gas Only
       ELO	Electricity only	
	
LotConfig: Lot configuration

       Inside	Inside lot
       Corner	Corner lot
       CulDSac	Cul-de-sac
       FR2	Frontage on 2 sides of property
       FR3	Frontage on 3 sides of property
	
LandSlope: Slope of property
		
       Gtl	Gentle slope
       Mod	Moderate Slope	
       Sev	Severe Slope
	
Neighborhood: Physical locations within Ames city limits

       Blmngtn	Bloomington Heights
       Blueste	Bluestem
       BrDale	Briardale
       BrkSide	Brookside
       ClearCr	Clear Creek
       CollgCr	College Creek
       Crawfor	Crawford
       Edwards	Edwards
       Gilbert	Gilbert
       IDOTRR	Iowa DOT and Rail Road
       MeadowV	Meadow Village
       Mitchel	Mitchell
       Names	North Ames
       NoRidge	Northridge
       NPkVill	Northpark Villa
       NridgHt	Northridge Heights
       NWAmes	Northwest Ames
       OldTown	Old Town
       SWISU	South & West of Iowa State University
       Sawyer	Sawyer
       SawyerW	Sawyer West
       Somerst	Somerset
       StoneBr	Stone Brook
       Timber	Timberland
       Veenker	Veenker
			
Condition1: Proximity to various conditions
	
       Artery	Adjacent to arterial street
       Feedr	Adjacent to feeder street	
       Norm	Normal	
       RRNn	Within 200' of North-South Railroad
       RRAn	Adjacent to North-South Railroad
       PosN	Near positive off-site feature--park, greenbelt, etc.
       PosA	Adjacent to postive off-site feature
       RRNe	Within 200' of East-West Railroad
       RRAe	Adjacent to East-West Railroad
	
Condition2: Proximity to various conditions (if more than one is present)
		
       Artery	Adjacent to arterial street
       Feedr	Adjacent to feeder street	
       Norm	Normal	
       RRNn	Within 200' of North-South Railroad
       RRAn	Adjacent to North-South Railroad
       PosN	Near positive off-site feature--park, greenbelt, etc.
       PosA	Adjacent to postive off-site feature
       RRNe	Within 200' of East-West Railroad
       RRAe	Adjacent to East-West Railroad
	
BldgType: Type of dwelling
		
       1Fam	Single-family Detached	
       2FmCon	Two-family Conversion; originally built as one-family dwelling
       Duplx	Duplex
       TwnhsE	Townhouse End Unit
       TwnhsI	Townhouse Inside Unit
	
HouseStyle: Style of dwelling
	
       1Story	One story
       1.5Fin	One and one-half story: 2nd level finished
       1.5Unf	One and one-half story: 2nd level unfinished
       2Story	Two story
       2.5Fin	Two and one-half story: 2nd level finished
       2.5Unf	Two and one-half story: 2nd level unfinished
       SFoyer	Split Foyer
       SLvl	Split Level
	
OverallQual: Rates the overall material and finish of the house

       10	Very Excellent
       9	Excellent
       8	Very Good
       7	Good
       6	Above Average
       5	Average
       4	Below Average
       3	Fair
       2	Poor
       1	Very Poor
	
OverallCond: Rates the overall condition of the house

       10	Very Excellent
       9	Excellent
       8	Very Good
       7	Good
       6	Above Average	
       5	Average
       4	Below Average	
       3	Fair
       2	Poor
       1	Very Poor
		
YearBuilt: Original construction date

YearRemodAdd: Remodel date (same as construction date if no remodeling or additions)

RoofStyle: Type of roof

       Flat	Flat
       Gable	Gable
       Gambrel	Gabrel (Barn)
       Hip	Hip
       Mansard	Mansard
       Shed	Shed
		
RoofMatl: Roof material

       ClyTile	Clay or Tile
       CompShg	Standard (Composite) Shingle
       Membran	Membrane
       Metal	Metal
       Roll	Roll
       Tar&Grv	Gravel & Tar
       WdShake	Wood Shakes
       WdShngl	Wood Shingles
		
Exterior1st: Exterior covering on house

       AsbShng	Asbestos Shingles
       AsphShn	Asphalt Shingles
       BrkComm	Brick Common
       BrkFace	Brick Face
       CBlock	Cinder Block
       CemntBd	Cement Board
       HdBoard	Hard Board
       ImStucc	Imitation Stucco
       MetalSd	Metal Siding
       Other	Other
       Plywood	Plywood
       PreCast	PreCast	
       Stone	Stone
       Stucco	Stucco
       VinylSd	Vinyl Siding
       Wd Sdng	Wood Siding
       WdShing	Wood Shingles
	
Exterior2nd: Exterior covering on house (if more than one material)

       AsbShng	Asbestos Shingles
       AsphShn	Asphalt Shingles
       BrkComm	Brick Common
       BrkFace	Brick Face
       CBlock	Cinder Block
       CemntBd	Cement Board
       HdBoard	Hard Board
       ImStucc	Imitation Stucco
       MetalSd	Metal Siding
       Other	Other
       Plywood	Plywood
       PreCast	PreCast
       Stone	Stone
       Stucco	Stucco
       VinylSd	Vinyl Siding
       Wd Sdng	Wood Siding
       WdShing	Wood Shingles
	
MasVnrType: Masonry veneer type

       BrkCmn	Brick Common
       BrkFace	Brick Face
       CBlock	Cinder Block
       None	None
       Stone	Stone
	
MasVnrArea: Masonry veneer area in square feet

ExterQual: Evaluates the quality of the material on the exterior 
		
       Ex	Excellent
       Gd	Good
       TA	Average/Typical
       Fa	Fair
       Po	Poor
		
ExterCond: Evaluates the present condition of the material on the exterior
		
       Ex	Excellent
       Gd	Good
       TA	Average/Typical
       Fa	Fair
       Po	Poor
		
Foundation: Type of foundation
		
       BrkTil	Brick & Tile
       CBlock	Cinder Block
       PConc	Poured Contrete	
       Slab	Slab
       Stone	Stone
       Wood	Wood
		
BsmtQual: Evaluates the height of the basement

       Ex	Excellent (100+ inches)	
       Gd	Good (90-99 inches)
       TA	Typical (80-89 inches)
       Fa	Fair (70-79 inches)
       Po	Poor (<70 inches
       NA	No Basement
		
BsmtCond: Evaluates the general condition of the basement

       Ex	Excellent
       Gd	Good
       TA	Typical - slight dampness allowed
       Fa	Fair - dampness or some cracking or settling
       Po	Poor - Severe cracking, settling, or wetness
       NA	No Basement
	
BsmtExposure: Refers to walkout or garden level walls

       Gd	Good Exposure
       Av	Average Exposure (split levels or foyers typically score average or above)	
       Mn	Mimimum Exposure
       No	No Exposure
       NA	No Basement
	
BsmtFinType1: Rating of basement finished area

       GLQ	Good Living Quarters
       ALQ	Average Living Quarters
       BLQ	Below Average Living Quarters	
       Rec	Average Rec Room
       LwQ	Low Quality
       Unf	Unfinshed
       NA	No Basement
		
BsmtFinSF1: Type 1 finished square feet

BsmtFinType2: Rating of basement finished area (if multiple types)

       GLQ	Good Living Quarters
       ALQ	Average Living Quarters
       BLQ	Below Average Living Quarters	
       Rec	Average Rec Room
       LwQ	Low Quality
       Unf	Unfinshed
       NA	No Basement

BsmtFinSF2: Type 2 finished square feet

BsmtUnfSF: Unfinished square feet of basement area

TotalBsmtSF: Total square feet of basement area

Heating: Type of heating
		
       Floor	Floor Furnace
       GasA	Gas forced warm air furnace
       GasW	Gas hot water or steam heat
       Grav	Gravity furnace	
       OthW	Hot water or steam heat other than gas
       Wall	Wall furnace
		
HeatingQC: Heating quality and condition

       Ex	Excellent
       Gd	Good
       TA	Average/Typical
       Fa	Fair
       Po	Poor
		
CentralAir: Central air conditioning

       N	No
       Y	Yes
		
Electrical: Electrical system

       SBrkr	Standard Circuit Breakers & Romex
       FuseA	Fuse Box over 60 AMP and all Romex wiring (Average)	
       FuseF	60 AMP Fuse Box and mostly Romex wiring (Fair)
       FuseP	60 AMP Fuse Box and mostly knob & tube wiring (poor)
       Mix	Mixed
		
1stFlrSF: First Floor square feet
 
2ndFlrSF: Second floor square feet

LowQualFinSF: Low quality finished square feet (all floors)

GrLivArea: Above grade (ground) living area square feet

BsmtFullBath: Basement full bathrooms

BsmtHalfBath: Basement half bathrooms

FullBath: Full bathrooms above grade

HalfBath: Half baths above grade

Bedroom: Bedrooms above grade (does NOT include basement bedrooms)

Kitchen: Kitchens above grade

KitchenQual: Kitchen quality

       Ex	Excellent
       Gd	Good
       TA	Typical/Average
       Fa	Fair
       Po	Poor
       	
TotRmsAbvGrd: Total rooms above grade (does not include bathrooms)

Functional: Home functionality (Assume typical unless deductions are warranted)

       Typ	Typical Functionality
       Min1	Minor Deductions 1
       Min2	Minor Deductions 2
       Mod	Moderate Deductions
       Maj1	Major Deductions 1
       Maj2	Major Deductions 2
       Sev	Severely Damaged
       Sal	Salvage only
		
Fireplaces: Number of fireplaces

FireplaceQu: Fireplace quality

       Ex	Excellent - Exceptional Masonry Fireplace
       Gd	Good - Masonry Fireplace in main level
       TA	Average - Prefabricated Fireplace in main living area or Masonry Fireplace in basement
       Fa	Fair - Prefabricated Fireplace in basement
       Po	Poor - Ben Franklin Stove
       NA	No Fireplace
		
GarageType: Garage location
		
       2Types	More than one type of garage
       Attchd	Attached to home
       Basment	Basement Garage
       BuiltIn	Built-In (Garage part of house - typically has room above garage)
       CarPort	Car Port
       Detchd	Detached from home
       NA	No Garage
		
GarageYrBlt: Year garage was built
		
GarageFinish: Interior finish of the garage

       Fin	Finished
       RFn	Rough Finished	
       Unf	Unfinished
       NA	No Garage
		
GarageCars: Size of garage in car capacity

GarageArea: Size of garage in square feet

GarageQual: Garage quality

       Ex	Excellent
       Gd	Good
       TA	Typical/Average
       Fa	Fair
       Po	Poor
       NA	No Garage
		
GarageCond: Garage condition

       Ex	Excellent
       Gd	Good
       TA	Typical/Average
       Fa	Fair
       Po	Poor
       NA	No Garage
		
PavedDrive: Paved driveway

       Y	Paved 
       P	Partial Pavement
       N	Dirt/Gravel
		
WoodDeckSF: Wood deck area in square feet

OpenPorchSF: Open porch area in square feet

EnclosedPorch: Enclosed porch area in square feet

3SsnPorch: Three season porch area in square feet

ScreenPorch: Screen porch area in square feet

PoolArea: Pool area in square feet

PoolQC: Pool quality
		
       Ex	Excellent
       Gd	Good
       TA	Average/Typical
       Fa	Fair
       NA	No Pool
		
Fence: Fence quality
		
       GdPrv	Good Privacy
       MnPrv	Minimum Privacy
       GdWo	Good Wood
       MnWw	Minimum Wood/Wire
       NA	No Fence
	
MiscFeature: Miscellaneous feature not covered in other categories
		
       Elev	Elevator
       Gar2	2nd Garage (if not described in garage section)
       Othr	Other
       Shed	Shed (over 100 SF)
       TenC	Tennis Court
       NA	None
		
MiscVal: $Value of miscellaneous feature

MoSold: Month Sold (MM)

YrSold: Year Sold (YYYY)

SaleType: Type of sale
		
       WD 	Warranty Deed - Conventional
       CWD	Warranty Deed - Cash
       VWD	Warranty Deed - VA Loan
       New	Home just constructed and sold
       COD	Court Officer Deed/Estate
       Con	Contract 15% Down payment regular terms
       ConLw	Contract Low Down payment and low interest
       ConLI	Contract Low Interest
       ConLD	Contract Low Down
       Oth	Other
		
SaleCondition: Condition of sale

       Normal	Normal Sale
       Abnorml	Abnormal Sale -  trade, foreclosure, short sale
       AdjLand	Adjoining Land Purchase
       Alloca	Allocation - two linked properties with separate deeds, typically condo with a garage unit	
       Family	Sale between family members
       Partial	Home was not completed when last assessed (associated with New Homes)

In [1]:
# Importing Libraries:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import ElasticNet
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.preprocessing import StandardScaler, OneHotEncoder

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("Ames_Housing_Data.csv")

In [3]:
df.head()

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [4]:
df.shape

(2930, 81)

In [5]:
df.columns

Index(['PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area', 'Street',
       'Alley', 'Lot Shape', 'Land Contour', 'Utilities', 'Lot Config',
       'Land Slope', 'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type',
       'House Style', 'Overall Qual', 'Overall Cond', 'Year Built',
       'Year Remod/Add', 'Roof Style', 'Roof Matl', 'Exterior 1st',
       'Exterior 2nd', 'Mas Vnr Type', 'Mas Vnr Area', 'Exter Qual',
       'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
       'BsmtFin Type 1', 'BsmtFin SF 1', 'BsmtFin Type 2', 'BsmtFin SF 2',
       'Bsmt Unf SF', 'Total Bsmt SF', 'Heating', 'Heating QC', 'Central Air',
       'Electrical', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF',
       'Gr Liv Area', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath',
       'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'Kitchen Qual',
       'TotRms AbvGrd', 'Functional', 'Fireplaces', 'Fireplace Qu',
       'Garage Type', 'Garage Yr Blt', 'Garage Finish', 'Garage Cars',
       'Garage Area', 'Garage Qual', 'Garage Cond', 'Paved Drive',
       'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch', '3Ssn Porch',
       'Screen Porch', 'Pool Area', 'Pool QC', 'Fence', 'Misc Feature',
       'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type', 'Sale Condition',
       'SalePrice'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PID              2930 non-null   int64
 1   MS SubClass      2930 non-null   int64
 2   MS Zoning        2930 non-null   object
 3   Lot Frontage     2440 non-null   float64
 4   Lot Area         2930 non-null   int64
 5   Street           2930 non-null   object
 6   Alley            198 non-null    object
 7   Lot Shape        2930 non-null   object
 8   Land Contour     2930 non-null   object
 9   Utilities        2930 non-null   object
 10  Lot Config       2930 non-null   object
 11  Land Slope       2930 non-null   object
 12  Neighborhood     2930 non-null   object
 13  Condition 1      2930 non-null   object
 14  Condition 2      2930 non-null   object
 15  Bldg Type        2930 non-null   object
 16  House Style      2930 non-null   object
 17  Overall Qual     2930 non-null   int64
 18  Overall Cond     2930 non-null   int64
 19  Year Built       2930 non-null   int64
 20  Year Remod/Add   2930 non-null   int64
 21  Roof Style       2930 non-null   object
 22  Roof Matl        2930 non-null   object
 23  Exterior 1st     2930 non-null   object
 24  Exterior 2nd     2930 non-null   object
 25  Mas Vnr Type     2907 non-null   object
 26  Mas Vnr Area     2907 non-null   float64
 27  Exter Qual       2930 non-null   object
 28  Exter Cond       2930 non-null   object
 29  Foundation       2930 non-null   object
 30  Bsmt Qual        2850 non-null   object
 31  Bsmt Cond        2850 non-null   object
 32  Bsmt Exposure    2847 non-null   object
 33  BsmtFin Type 1   2850 non-null   object
 34  BsmtFin SF 1     2929 non-null   float64
 35  BsmtFin Type 2   2849 non-null   object
 36  BsmtFin SF 2     2929 non-null   float64
 37  Bsmt Unf SF      2929 non-null   float64
 38  Total Bsmt SF    2929 non-null   float64
 39  Heating          2930 non-null   object
 40  Heating QC       2930 non-null   object
 41  Central Air      2930 non-null   object
 42  Electrical       2929 non-null   object
 43  1st Flr SF       2930 non-null   int64
 44  2nd Flr SF       2930 non-null   int64
 45  Low Qual Fin SF  2930 non-null   int64
 46  Gr Liv Area      2930 non-null   int64
 47  Bsmt Full Bath   2928 non-null   float64
 48  Bsmt Half Bath   2928 non-null   float64
 49  Full Bath        2930 non-null   int64
 50  Half Bath        2930 non-null   int64
 51  Bedroom AbvGr    2930 non-null   int64
 52  Kitchen AbvGr    2930 non-null   int64
 53  Kitchen Qual     2930 non-null   object
 54  TotRms AbvGrd    2930 non-null   int64
 55  Functional       2930 non-null   object
 56  Fireplaces       2930 non-null   int64
 57  Fireplace Qu     1508 non-null   object
 58  Garage Type      2773 non-null   object
 59  Garage Yr Blt    2771 non-null   float64
 60  Garage Finish    2771 non-null   object
 61  Garage Cars      2929 non-null   float64
 62  Garage Area      2929 non-null   float64
 63  Garage Qual      2771 non-null   object
 64  Garage Cond      2771 non-null   object
 65  Paved Drive      2930 non-null   object
 66  Wood Deck SF     2930 non-null   int64
 67  Open Porch SF    2930 non-null   int64
 68  Enclosed Porch   2930 non-null   int64
 69  3Ssn Porch       2930 non-null   int64
 70  Screen Porch     2930 non-null   int64
 71  Pool Area        2930 non-null   int64
 72  Pool QC          13 non-null     object
 73  Fence            572 non-null    object
 74  Misc Feature     106 non-null    object
 75  Misc Val         2930 non-null   int64
 76  Mo Sold          2930 non-null   int64
 77  Yr Sold          2930 non-null   int64
 78  Sale Type        2930 non-null   object
 79  Sale Condition   2930 non-null   object
 80  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(27), object(43)
memory usage: 1.8+ MB

In [8]:
df.describe()

,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2.930000e+03,2930.000000,2440.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2907.000000,2929.000000,...,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000
mean,7.144645e+08,57.387372,69.224590,10147.921843,6.094881,5.563140,1971.356314,1984.266553,101.896801,442.629566,...,93.751877,47.533447,23.011604,2.592491,16.002048,2.243345,50.635154,6.216041,2007.790444,180796.060068
std,1.887308e+08,42.638025,23.365335,7880.017759,1.411026,1.111537,30.245361,20.860286,179.112611,455.590839,...,126.361562,67.483400,64.139059,25.141331,56.087370,35.597181,566.344288,2.714492,1.316613,79886.692357
min,5.263011e+08,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000
25%,5.284770e+08,20.000000,58.000000,7440.250000,5.000000,5.000000,1954.000000,1965.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129500.000000
50%,5.354536e+08,50.000000,68.000000,9436.500000,6.000000,5.000000,1973.000000,1993.000000,0.000000,370.000000,...,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,160000.000000
75%,9.071811e+08,70.000000,80.000000,11555.250000,7.000000,6.000000,2001.000000,2004.000000,164.000000,734.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213500.000000
max,1.007100e+09,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000

In [10]:
# we can remove PID as it is unique for all rows
df = df.drop("PID", axis= 1)

In [12]:
df.shape

(2930, 80)

### Missing Value Treatment:

In [11]:
df.isna().sum() / len(df) * 100

MS SubClass        0.000000
MS Zoning          0.000000
Lot Frontage      16.723549
Lot Area           0.000000
Street             0.000000
                    ...
Mo Sold            0.000000
Yr Sold            0.000000
Sale Type          0.000000
Sale Condition     0.000000
SalePrice          0.000000
Length: 80, dtype: float64

In [14]:
# Geting Names and Percent of Columns with NMissing Values in a Series:
cols_with_null = ((df.isna().sum() / len(df) * 100)[(df.isna().sum() / len(df) * 100) > 0]).sort_values(ascending= False)

In [15]:
cols_with_null

Pool QC           99.556314
Misc Feature      96.382253
Alley             93.242321
Fence             80.477816
Fireplace Qu      48.532423
Lot Frontage      16.723549
Garage Cond        5.426621
Garage Qual        5.426621
Garage Finish      5.426621
Garage Yr Blt      5.426621
Garage Type        5.358362
Bsmt Exposure      2.832765
BsmtFin Type 2     2.764505
BsmtFin Type 1     2.730375
Bsmt Qual          2.730375
Bsmt Cond          2.730375
Mas Vnr Area       0.784983
Mas Vnr Type       0.784983
Bsmt Half Bath     0.068259
Bsmt Full Bath     0.068259
Total Bsmt SF      0.034130
Bsmt Unf SF        0.034130
Garage Cars        0.034130
Garage Area        0.034130
BsmtFin SF 2       0.034130
BsmtFin SF 1       0.034130
Electrical         0.034130
dtype: float64

In [18]:
# First, let's take features that have missing values < 5%.
# We can Either drop those rows as 1% in not a big amount of daTa to drop or we can fill those values, depending on conditions.

In [19]:
cols_with_null[cols_with_null < 5]

Bsmt Exposure     2.832765
BsmtFin Type 2    2.764505
BsmtFin Type 1    2.730375
Bsmt Qual         2.730375
Bsmt Cond         2.730375
Mas Vnr Area      0.784983
Mas Vnr Type      0.784983
Bsmt Half Bath    0.068259
Bsmt Full Bath    0.068259
Total Bsmt SF     0.034130
Bsmt Unf SF       0.034130
Garage Cars       0.034130
Garage Area       0.034130
BsmtFin SF 2      0.034130
BsmtFin SF 1      0.034130
Electrical        0.034130
dtype: float64

11 features are regarding basement:

BsmtFullBath: Basement full bathrooms

BsmtHalfBath: Basement half bathrooms

BsmtFinSF1: Type 1 finished square feet

BsmtFinSF2: Type 2 finished square feet

TotalBsmtSF: Total square feet of basement area

BsmtUnfSF: Unfinished square feet of basement area

BsmtExposure: Refers to walkout or garden level walls

   
   - Gd    Good Exposure
   
   - Av    Average Exposure (split levels or foyers typically score average or above)    
   
   - Mn    Mimimum Exposure
   
   - No    No Exposure
   
   - NA    No Basement


BsmtFinType1: Rating of basement finished area

   
   - GLQ    Good Living Quarters
   
   - ALQ    Average Living Quarters
   
   - BLQ    Below Average Living Quarters    
   
   - Rec    Average Rec Room
   
   - LwQ    Low Quality
   
   - Unf    Unfinshed
   
   - NA    No Basement



BsmtFinType2: Rating of basement finished area (if multiple types)

   
   - GLQ    Good Living Quarters
   
   - ALQ    Average Living Quarters
   
   - BLQ    Below Average Living Quarters    
   
   - Rec    Average Rec Room
   
   - LwQ    Low Quality
   
   - Unf    Unfinshed
   
   - NA    No Basement
   

BsmtQual: Evaluates the height of the basement

   
   - Ex    Excellent (100+ inches)    
   
   - Gd    Good (90-99 inches)
   
   - TA    Typical (80-89 inches)
   
   - Fa    Fair (70-79 inches)
   
   - Po    Poor (<70 inches
   
   - NA    No Basement
   

BsmtCond: Evaluates the general condition of the basement

   
   - Ex    Excellent
   
   - Gd    Good
   
   - TA    Typical - slight dampness allowed
   
   - Fa    Fair - dampness or some cracking or settling
   
   - Po    Poor - Severe cracking, settling, or wetness
   
   - NA    No Basement

In [ ]:
# We can see that, in Category type columns regarding Basement, "NA" category refers to basement not available.

# Meaning, whereever value is missing in features regarding Basement, it could be simply because that House didn't have 
# a Basement.

# So, for categorical features regarding Basement, we can fill Missing values with "None",
# For numeric features regarding Basement, we can fill Missing Values with 0.

In [50]:
bsmt_num_cols = ['BsmtFin SF 1', 'BsmtFin SF 2', 'Bsmt Unf SF','Total Bsmt SF', 'Bsmt Full Bath', 'Bsmt Half Bath']

In [51]:
df[bsmt_num_cols] = df[bsmt_num_cols].fillna(0)

In [52]:
bsmt_str_cols =  ['Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin Type 2']

In [53]:
df[bsmt_str_cols] = df[bsmt_str_cols].fillna('None')

In [54]:
cols_with_null = ((df.isna().sum() / len(df) * 100)[(df.isna().sum() / len(df) * 100) > 0]).sort_values(ascending= False)

In [55]:
cols_with_null

Pool QC          99.556314
Misc Feature     96.382253
Alley            93.242321
Fence            80.477816
Fireplace Qu     48.532423
Lot Frontage     16.723549
Garage Yr Blt     5.426621
Garage Finish     5.426621
Garage Qual       5.426621
Garage Cond       5.426621
Garage Type       5.358362
Mas Vnr Type      0.784983
Mas Vnr Area      0.784983
Electrical        0.034130
Garage Cars       0.034130
Garage Area       0.034130
dtype: float64

In [ ]:
# All basement Regarding ZColumns are taken care of.

7 columns are Garage Related:

GarageQual: Garage quality

   - Ex    Excellent
   - Gd    Good
   - TA    Typical/Average
   - Fa    Fair
   - Po    Poor
   - NA    No Garage

GarageCond: Garage condition

   - Ex    Excellent
   - Gd    Good
   - TA    Typical/Average
   - Fa    Fair
   - Po    Poor
   - NA    No Garage
   
GarageYrBlt: Year garage was built

GarageFinish: Interior finish of the garage

   - Fin    Finished
   - RFn    Rough Finished    
   - Unf    Unfinished
   - NA    No Garage

GarageCars: Size of garage in car capacity

GarageArea: Size of garage in square feet

GarageType: Garage location

   - 2Types    More than one type of garage
   - Attchd    Attached to home
   - Basment    Basement Garage
   - BuiltIn    Built-In (Garage part of house - typically has room above garage)
   - CarPort    Car Port
   - Detchd    Detached from home
   - NA    No Garage

In [56]:
# Same as with Basement Related Categorical Columns, Garage Related Categorical Columns have category "NA" for Non-Availibility.

# So, for categorical features regarding Garage, we can fill Missing values with "None",
# For numeric features regarding Garage, we can fill Missing Values with 0.

In [59]:
grg_num_cols = ["Garage Cars","Garage Area","Garage Yr Blt"]
grg_str_cols = ["Garage Finish","Garage Qual","Garage Cond","Garage Type"]

In [60]:
df[grg_num_cols] = df[grg_num_cols].fillna(0)

In [61]:
df[grg_str_cols] = df[grg_str_cols].fillna('None')

In [62]:
cols_with_null = ((df.isna().sum() / len(df) * 100)[(df.isna().sum() / len(df) * 100) > 0]).sort_values(ascending= False)

In [63]:
cols_with_null

Pool QC         99.556314
Misc Feature    96.382253
Alley           93.242321
Fence           80.477816
Fireplace Qu    48.532423
Lot Frontage    16.723549
Mas Vnr Type     0.784983
Mas Vnr Area     0.784983
Electrical       0.034130
dtype: float64

In [ ]:
# All Garage Regarding ZColumns are taken care of.

Same Can be done for Mas Vnr regarding Columns:

MasVnrType: Masonry veneer type

   - BrkCmn    Brick Common
   - BrkFace    Brick Face
   - CBlock    Cinder Block
   - None    None
   - Stone    Stone

MasVnrArea: Masonry veneer area in square feet

In [64]:
df["Mas Vnr Type"] = df["Mas Vnr Type"].fillna("None")

In [65]:
df["Mas Vnr Area"] = df["Mas Vnr Area"].fillna(0)

In [66]:
# Electrical:
df[df["Electrical"].isna() == True]

,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
1577,80,RL,73.0,9735,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,5,2008,WD,Normal,167500

In [ ]:
# There's Just One Row with Missing value in "Electrical".
# we can Drop That Row.

In [68]:
df = df.dropna(subset=["Electrical"], axis= 0)

In [69]:
# We can Drop Features having More than 50% Missing Values.

df = df.drop(["Pool QC","Misc Feature","Alley","Fence"  ], axis= 1)

In [70]:
df.shape

(2929, 76)

In [71]:
cols_with_null = ((df.isna().sum() / len(df) * 100)[(df.isna().sum() / len(df) * 100) > 0]).sort_values(ascending= False)

In [72]:
cols_with_null

Fireplace Qu    48.514851
Lot Frontage    16.729259
dtype: float64

FireplaceQu: Fireplace quality

   - Ex    Excellent - Exceptional Masonry Fireplace
   - Gd    Good - Masonry Fireplace in main level
   - TA    Average - Prefabricated Fireplace in main living area or Masonry Fireplace in basement
   - Fa    Fair - Prefabricated Fireplace in basement
   - Po    Poor - Ben Franklin Stove
   - NA    No Fireplace
   
LotFrontage: Linear feet of street connected to property

In [73]:
# For Fireplace Quality, we can replace Missing Values with None.
df["Fireplace Qu"] = df["Fireplace Qu"].fillna("None")

In [74]:
# For Lot Frontage, we can fill Missing Values with Mean.
df["Lot Frontage"] = df["Lot Frontage"].fillna(df["Lot Frontage"].mean())

In [75]:
cols_with_null = ((df.isna().sum() / len(df) * 100)[(df.isna().sum() / len(df) * 100) > 0]).sort_values(ascending= False)

In [76]:
cols_with_null

Series([], dtype: float64)

In [ ]:
# All Missing values are Treated.

### Encoding Categorical Variables:

In [77]:
df.head()

,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,...,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,20,RL,141.0,31770,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,0,0,0,0,0,5,2010,WD,Normal,215000
1,20,RH,80.0,11622,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,120,0,0,6,2010,WD,Normal,105000
2,20,RL,81.0,14267,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,0,0,0,0,12500,6,2010,WD,Normal,172000
3,20,RL,93.0,11160,Pave,Reg,Lvl,AllPub,Corner,Gtl,...,0,0,0,0,0,4,2010,WD,Normal,244000
4,60,RL,74.0,13830,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,3,2010,WD,Normal,189900

In [78]:
df.columns

Index(['MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area', 'Street',
       'Lot Shape', 'Land Contour', 'Utilities', 'Lot Config', 'Land Slope',
       'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type',
       'House Style', 'Overall Qual', 'Overall Cond', 'Year Built',
       'Year Remod/Add', 'Roof Style', 'Roof Matl', 'Exterior 1st',
       'Exterior 2nd', 'Mas Vnr Type', 'Mas Vnr Area', 'Exter Qual',
       'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
       'BsmtFin Type 1', 'BsmtFin SF 1', 'BsmtFin Type 2', 'BsmtFin SF 2',
       'Bsmt Unf SF', 'Total Bsmt SF', 'Heating', 'Heating QC', 'Central Air',
       'Electrical', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF',
       'Gr Liv Area', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath',
       'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'Kitchen Qual',
       'TotRms AbvGrd', 'Functional', 'Fireplaces', 'Fireplace Qu',
       'Garage Type', 'Garage Yr Blt', 'Garage Finish', 'Garage Cars',
       'Garage Area', 'Garage Qual', 'Garage Cond', 'Paved Drive',
       'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch', '3Ssn Porch',
       'Screen Porch', 'Pool Area', 'Misc Val', 'Mo Sold', 'Yr Sold',
       'Sale Type', 'Sale Condition', 'SalePrice'],
      dtype='object')

In [ ]:
# "MS SubClass" is actually a categorical variable but it is represented in Numbers.
# We need to encode that too.
# So, we will convert data type of "MS SubClass" as object.

In [79]:
df["MS SubClass"] = df["MS SubClass"].astype("object")

In [80]:
df.dtypes

MS SubClass        object
MS Zoning          object
Lot Frontage      float64
Lot Area            int64
Street             object
                   ...
Mo Sold             int64
Yr Sold             int64
Sale Type          object
Sale Condition     object
SalePrice           int64
Length: 76, dtype: object

In [ ]:
# As they are so Many Object Type features, we will take thwm in different dataframe to create dummy variables.
# We will Join Numeric data and Categorical Data after Encoding.

In [82]:
num_df = df.select_dtypes(exclude= "object")
obj_df = df.select_dtypes(include="object")

In [83]:
num_df.dtypes

Lot Frontage       float64
Lot Area             int64
Overall Qual         int64
Overall Cond         int64
Year Built           int64
Year Remod/Add       int64
Mas Vnr Area       float64
BsmtFin SF 1       float64
BsmtFin SF 2       float64
Bsmt Unf SF        float64
Total Bsmt SF      float64
1st Flr SF           int64
2nd Flr SF           int64
Low Qual Fin SF      int64
Gr Liv Area          int64
Bsmt Full Bath     float64
Bsmt Half Bath     float64
Full Bath            int64
Half Bath            int64
Bedroom AbvGr        int64
Kitchen AbvGr        int64
TotRms AbvGrd        int64
Fireplaces           int64
Garage Yr Blt      float64
Garage Cars        float64
Garage Area        float64
Wood Deck SF         int64
Open Porch SF        int64
Enclosed Porch       int64
3Ssn Porch           int64
Screen Porch         int64
Pool Area            int64
Misc Val             int64
Mo Sold              int64
Yr Sold              int64
SalePrice            int64
dtype: object

In [84]:
obj_df.dtypes

MS SubClass       object
MS Zoning         object
Street            object
Lot Shape         object
Land Contour      object
Utilities         object
Lot Config        object
Land Slope        object
Neighborhood      object
Condition 1       object
Condition 2       object
Bldg Type         object
House Style       object
Roof Style        object
Roof Matl         object
Exterior 1st      object
Exterior 2nd      object
Mas Vnr Type      object
Exter Qual        object
Exter Cond        object
Foundation        object
Bsmt Qual         object
Bsmt Cond         object
Bsmt Exposure     object
BsmtFin Type 1    object
BsmtFin Type 2    object
Heating           object
Heating QC        object
Central Air       object
Electrical        object
Kitchen Qual      object
Functional        object
Fireplace Qu      object
Garage Type       object
Garage Finish     object
Garage Qual       object
Garage Cond       object
Paved Drive       object
Sale Type         object
Sale Condition    object
dtype: object

In [85]:
# Creating Dummy Variables for Categorical Features.

obj_df = pd.get_dummies(obj_df, drop_first= True)

In [86]:
obj_df.head()

,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,MS SubClass_60,MS SubClass_70,MS SubClass_75,MS SubClass_80,MS SubClass_85,MS SubClass_90,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [87]:
obj_df.shape

(2929, 239)

In [88]:
# Combining Numeric and Categorical Data

df = pd.concat([num_df, obj_df], axis= 1)

In [89]:
df.head()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,141.0,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,0,0,0,0,1,0,0,0,1,0
1,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,0,0,0,0,1,0,0,0,1,0
2,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,0,0,0,0,1,0,0,0,1,0
3,93.0,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,0,0,0,0,1,0,0,0,1,0
4,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,0,0,0,0,1,0,0,0,1,0

In [90]:
df.shape

(2929, 275)

### Train Test Split and Scalling:

In [91]:
df.head()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,141.0,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,0,0,0,0,1,0,0,0,1,0
1,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,0,0,0,0,1,0,0,0,1,0
2,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,0,0,0,0,1,0,0,0,1,0
3,93.0,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,0,0,0,0,1,0,0,0,1,0
4,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,0,0,0,0,1,0,0,0,1,0

In [92]:
df.columns

Index(['Lot Frontage', 'Lot Area', 'Overall Qual', 'Overall Cond',
       'Year Built', 'Year Remod/Add', 'Mas Vnr Area', 'BsmtFin SF 1',
       'BsmtFin SF 2', 'Bsmt Unf SF',
       ...
       'Sale Type_ConLw', 'Sale Type_New', 'Sale Type_Oth', 'Sale Type_VWD',
       'Sale Type_WD ', 'Sale Condition_AdjLand', 'Sale Condition_Alloca',
       'Sale Condition_Family', 'Sale Condition_Normal',
       'Sale Condition_Partial'],
      dtype='object', length=275)

In [93]:
# Features:
x = df.drop("SalePrice", axis= 1)

In [94]:
x.shape

(2929, 274)

In [95]:
# Target:
y = df["SalePrice"]

In [96]:
y.head()

0    215000
1    105000
2    172000
3    244000
4    189900
Name: SalePrice, dtype: int64

In [133]:
# Train Test Split:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.1, random_state= 101)

In [134]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(2636, 274)
(293, 274)
(2636,)
(293,)

In [135]:
# Scalling:

sc= StandardScaler()

In [136]:
temp = sc.fit_transform(x_train)

In [137]:
x_train = pd.DataFrame(temp, columns=x_train.columns)

In [138]:
x_train.head()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,0.002111,-0.340962,-0.769904,1.298702,-0.415877,0.898048,-0.560553,0.286938,-0.292972,-0.209339,...,-0.043594,-0.298004,-0.043594,-0.019481,0.391932,-0.067625,-0.087437,-0.133269,0.465218,-0.301761
1,-0.286706,-0.163642,2.068511,-0.518860,1.112187,0.994158,2.828581,-0.907035,-0.292972,2.498734,...,-0.043594,-0.298004,-0.043594,-0.019481,0.391932,-0.067625,-0.087437,-0.133269,0.465218,-0.301761
2,-0.425938,0.017885,-0.769904,1.298702,-1.545316,-1.648885,-0.560553,-0.968264,-0.292972,1.128767,...,-0.043594,-0.298004,-0.043594,-0.019481,0.391932,-0.067625,-0.087437,-0.133269,0.465218,-0.301761
3,0.002111,1.261361,-0.060300,1.298702,-0.183346,-0.880000,-0.560553,-0.968264,-0.292972,0.316345,...,-0.043594,-0.298004,-0.043594,-0.019481,0.391932,-0.067625,11.436783,-0.133269,-2.149528,-0.301761
4,0.002111,-0.772499,-0.060300,-0.518860,1.211843,1.138324,0.825911,1.135403,-0.292972,-0.853360,...,-0.043594,-0.298004,-0.043594,-0.019481,0.391932,-0.067625,-0.087437,-0.133269,0.465218,-0.301761

In [139]:
x_train.shape

(2636, 274)

In [140]:
temp = sc.transform(x_test)

In [141]:
x_test = pd.DataFrame(temp, columns=x_test.columns)

In [142]:
x_test.head()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,1.198443,0.546297,-0.060300,-0.51886,-0.482315,-1.312498,1.420110,-0.968264,-0.292972,1.001329,...,-0.043594,-0.298004,-0.043594,-0.019481,0.391932,-0.067625,-0.087437,-0.133269,0.465218,-0.301761
1,1.244854,0.312192,2.068511,-0.51886,1.145405,1.090269,1.519143,1.548701,-0.292972,0.184355,...,-0.043594,3.355662,-0.043594,-0.019481,-2.551465,-0.067625,-0.087437,-0.133269,-2.149528,3.313883
2,-0.193884,0.018805,-0.060300,-0.51886,1.112187,1.042214,-0.560553,-0.907035,-0.292972,1.661279,...,-0.043594,3.355662,-0.043594,-0.019481,-2.551465,-0.067625,-0.087437,-0.133269,-2.149528,3.313883
3,-0.286706,-0.199395,0.649303,-0.51886,1.078968,0.946103,-0.560553,-0.968264,-0.292972,0.657699,...,-0.043594,-0.298004,-0.043594,-0.019481,0.391932,-0.067625,-0.087437,-0.133269,0.465218,-0.301761
4,-0.425938,-0.538131,-0.769904,-0.51886,-1.512097,-1.648885,-0.560553,-0.968264,-0.292972,1.024086,...,-0.043594,-0.298004,-0.043594,-0.019481,0.391932,-0.067625,-0.087437,-0.133269,0.465218,-0.301761

In [143]:
x_test.shape

(293, 274)

### Model Building:

####  ElasticNet Regression Usimg Grid Search:

In [144]:
eln_model = ElasticNet()

In [145]:
param_dict = {"alpha" : [0.01, 0.1, 1, 5, 50,100],
             "l1_ratio" : [0.1, 0.5, 0.7, 0.9, 0.95, 0.99, 1]}

In [146]:
grid_model = GridSearchCV(estimator= eln_model, param_grid= param_dict, cv= 5, 
                          scoring= "r2", verbose= 1)

In [147]:
grid_model.fit(x_train, y_train)

Fitting 5 folds for each of 42 candidates, totalling 210 fits

GridSearchCV(cv=5, estimator=ElasticNet(),
             param_grid={'alpha': [0.01, 0.1, 1, 5, 50, 100],
                         'l1_ratio': [0.1, 0.5, 0.7, 0.9, 0.95, 0.99, 1]},
             scoring='r2', verbose=1)

In [148]:
grid_model.best_score_

0.8597679090365616

In [149]:
grid_model.best_estimator_

ElasticNet(alpha=1, l1_ratio=0.9)

In [150]:
pd.DataFrame(grid_model.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_l1_ratio,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.419478,2.488555e-02,0.003790,3.992321e-04,0.01,0.1,"{'alpha': 0.01, 'l1_ratio': 0.1}",0.780199,0.860432,0.817444,0.926667,0.851083,0.847165,0.048744,14
1,0.420078,2.647439e-02,0.003788,3.984508e-04,0.01,0.5,"{'alpha': 0.01, 'l1_ratio': 0.5}",0.778799,0.838711,0.816064,0.927395,0.834297,0.839053,0.048961,18
2,0.374804,8.670099e-03,0.003584,4.841482e-04,0.01,0.7,"{'alpha': 0.01, 'l1_ratio': 0.7}",0.777774,0.818852,0.814588,0.927685,0.818919,0.831564,0.050482,21
3,0.365423,8.866628e-03,0.003391,4.887528e-04,0.01,0.9,"{'alpha': 0.01, 'l1_ratio': 0.9}",0.775594,0.785227,0.811658,0.927616,0.793264,0.818672,0.055746,24
4,0.410503,5.618607e-02,0.003191,3.987555e-04,0.01,0.95,"{'alpha': 0.01, 'l1_ratio': 0.95}",0.773807,0.773019,0.810404,0.927406,0.783951,0.813717,0.058432,25
5,0.375203,2.173028e-02,0.003584,4.839286e-04,0.01,0.99,"{'alpha': 0.01, 'l1_ratio': 0.99}",0.770673,0.761463,0.809140,0.927085,0.774980,0.808668,0.061367,28
6,0.358043,3.153891e-03,0.003191,3.989938e-04,0.01,1,"{'alpha': 0.01, 'l1_ratio': 1}",0.769423,0.758248,0.808780,0.926971,0.772407,0.807166,0.062260,31
7,0.127060,5.147658e-03,0.003391,4.891229e-04,0.1,0.1,"{'alpha': 0.1, 'l1_ratio': 0.1}",0.788860,0.895724,0.820214,0.920718,0.872806,0.859664,0.048518,2
8,0.187100,1.337461e-02,0.003590,4.886750e-04,0.1,0.5,"{'alpha': 0.1, 'l1_ratio': 0.5}",0.786028,0.892814,0.819238,0.922630,0.872993,0.858740,0.049585,6
9,0.236169,3.108977e-02,0.003590,4.881690e-04,0.1,0.7,"{'alpha': 0.1, 'l1_ratio': 0.7}",0.783984,0.887866,0.818744,0.924032,0.870717,0.857069,0.049858,8
10,0.421672,4.667402e-02,0.003191,3.993273e-04,0.1,0.9,"{'alpha': 0.1, 'l1_ratio': 0.9}",0.780503,0.863894,0.817635,0.926494,0.853710,0.848447,0.048833,13
11,0.402724,2.665249e-02,0.003789,3.992559e-04,0.1,0.95,"{'alpha': 0.1, 'l1_ratio': 0.95}",0.778846,0.838750,0.816073,0.927401,0.834308,0.839076,0.048951,17
12,0.389165,2.552618e-02,0.003784,3.966612e-04,0.1,0.99,"{'alpha': 0.1, 'l1_ratio': 0.99}",0.775790,0.785306,0.811676,0.927629,0.793295,0.818739,0.055708,23
13,0.359639,1.073443e-02,0.003790,3.990415e-04,0.1,1,"{'alpha': 0.1, 'l1_ratio': 1}",0.769912,0.758359,0.808809,0.926995,0.772731,0.807361,0.062156,30
14,0.046077,2.308466e-03,0.003191,3.989221e-04,1,0.1,"{'alpha': 1, 'l1_ratio': 0.1}",0.797690,0.878137,0.819432,0.893485,0.842035,0.846156,0.035617,15
15,0.075598,4.249780e-03,0.003390,4.880328e-04,1,0.5,"{'alpha': 1, 'l1_ratio': 0.5}",0.798367,0.889410,0.823313,0.906871,0.857083,0.855009,0.040225,11
16,0.089760,1.046009e-02,0.004189,9.774085e-04,1,0.7,"{'alpha': 1, 'l1_ratio': 0.7}",0.796119,0.894392,0.823275,0.913522,0.864921,0.858446,0.043564,7
17,0.112100,2.347884e-02,0.003790,3.992322e-04,1,0.9,"{'alpha': 1, 'l1_ratio': 0.9}",0.789462,0.896031,0.820492,0.920317,0.872538,0.859768,0.048228,1
18,0.136834,1.884285e-02,0.003990,6.313545e-04,1,0.95,"{'alpha': 1, 'l1_ratio': 0.95}",0.786066,0.892859,0.819291,0.922635,0.873009,0.858772,0.049574,5
19,0.276262,1.096155e-02,0.003789,3.987075e-04,1,0.99,"{'alpha': 1, 'l1_ratio': 0.99}",0.780744,0.864114,0.817701,0.926534,0.853781,0.848575,0.048786,12
20,0.358647,5.101730e-03,0.003385,4.820745e-04,1,1,"{'alpha': 1, 'l1_ratio': 1}",0.774717,0.759419,0.809104,0.927209,0.773645,0.808819,0.061411,27
21,0.020944,5.352484e-07,0.003790,3.990415e-04,5,0.1,"{'alpha': 5, 'l1_ratio': 0.1}",0.738899,0.789321,0.751238,0.792310,0.737429,0.761840,0.024159,33
22,0.023936,2.431402e-07,0.003789,3.992562e-04,5,0.5,"{'alpha': 5, 'l1_ratio': 0.5}",0.775683,0.835719,0.790724,0.844484,0.790412,0.807404,0.027385,29
23,0.028524,7.979393e-04,0.003590,4.887141e-04,5,0.7,"{'alpha': 5, 'l1_ratio': 0.7}",0.791375,0.861485,0.809764,0.874135,0.821260,0.831604,0.031318,20
24,0.048072,1.162966e-03,0.003790,3.990412e-04,5,0.9,"{'alpha': 5, 'l1_ratio': 0.9}",0.798410,0.889405,0.823369,0.906841,0.857099,0.855025,0.040196,10
25,0.054455,1.492820e-03,0.003590,4.887727e-04,5,0.95,"{'alpha': 5, 'l1_ratio': 0.95}",0.795131,0.895390,0.823016,0.915142,0.866938,0.859123,0.044527,3
26,0.102925,6.160490e-03,0.003590,4.888699e-04,5,0.99,"{'alpha': 5, 'l1_ratio': 0.99}",0.786227,0.893057,0.819519,0.922656,0.873077,0.858907,0.049527,4
27,0.390458,4.162035e-02,0.003391,4.886361e-04,5,1,"{'alpha': 5, 'l1_ratio': 1}",0.777810,0.763896,0.810028,0.927945,0.775066,0.810949,0.060479,26
28,0.015958,3.512063e-03,0.003390,4.886750e-04,50,0.1,"{'alpha': 50, 'l1_ratio': 0.1}",0.329182,0.354131,0.341145,0.347920,0.309435,0.336363,0.015804,40
29,0.014960,6.306757e-04,0.003391,4.886945e-04,50,0.5,"{'alpha': 50, 'l1_ratio': 0.5}",0.458872,0.491619,0.471779,0.483827,0.436763,0.468572,0.019391,38
30,0.016357,7.984638e-04,0.003390,4.885391e-04,50,0.7,"{'alpha': 50, 'l1_ratio': 0.7}",0.567542,0.605686,0.580030,0.598654,0.546589,0.579700,0.021348,37
31,0.019348,2.325984e-03,0.003590,4.886166e-04,50,0.9,"{'alpha': 50, 'l1_ratio': 0.9}",0.728914,0.777947,0.740903,0.779664,0.724843,0.750454,0.023750,34
32,0.021144,3.988507e-04,0.003590,4.887529e-04,50,0.95,"{'alpha': 50, 'l1_ratio': 0.95}",0.775343,0.835309,0.790306,0.843809,0.789990,0.806952,0.027300,32
33,0.039495,4.887338e-04,0.003590,4.885193e-04,50,0.99,"{'alpha': 50, 'l1_ratio': 0.99}",0.798802,0.889295,0.823875,0.906434,0.857214,0.855124,0.039883,9
34,0.251727,3.260903e-02,0.003789,3.991846e-04,50,1,"{'alpha': 50, 'l1_ratio': 1}",0.781806,0.803530,0.814537,0.929177,0.792941,0.824398,0.053507,22
35,0.014162,3.988266e-04,0.003191,3.995657e-04,100,0.1,"{'alpha': 100, 'l1_ratio': 0.1}",0.199044,0.214478,0.208443,0.211489,0.183986,0.203488,0.011040,42
36,0.014162,3.988029e-04,0.003590,4.888697e-04,100,0.5,"{'alpha': 100, 'l1_ratio': 0.5}",0.306662,0.330113,0.318282,0.324342,0.287588,0.313397,0.015063,41
37,0.015559,4.888113e-04,0.002991,6.289914e-07,100,0.7,"{'alpha': 100, 'l1_ratio': 0.7}",0.417411,0.447893,0.430173,0.440341,0.395722,0.426308,0.018398,39
38,0.016556,1.196885e-03,0.003789,3.990889e-04,100,0.9,"{'alpha': 100, 'l1_ratio': 0.9}",0.639965,0.681779,0.651699,0.676960,0.622868,0.654654,0.022218,36
39,0.019348,2.792621e-03,0.002992,4.909339e-07,100,0.95,"{'alpha': 100, 'l1_ratio': 0.95}",0.728281,0.777332,0.740204,0.778850,0.724162,0.749766,0.023725,35
40,0.028524,1.620622e-03,0.003790,3.988271e-04,100,0.99,"{'alpha': 100, 'l1_ratio': 0.99}",0.797175,0.874739,0.817979,0.889115,0.838044,0.843410,0.034304,16
41,0.138829,1.646562e-02,0.003590,4.884609e-04,100,1,"{'alpha': 100, 'l1_ratio': 1}",0.781900,0.827288,0.819643,0.929441,0.812786,0.834212,0.050049,19

In [151]:
# Predictions on Test Data Using Best Model from Grid Search

In [152]:
pred = grid_model.predict(x_test)

In [153]:
r2_score(y_test, pred)

0.8959120812467658

In [154]:
mean_absolute_error(y_test, pred)

17530.24176156565

In [155]:
np.sqrt(mean_squared_error(y_test, pred))

28136.24013935071