# Python DateTime, Numpy DateTime and Pandas DateTime

### 1) Python Date Time:

In [1]:
from datetime import datetime

In [5]:
year = 2022
month = 2
day = 1
hour = 15
minute = 30
sec = 15

In [6]:
date = datetime(year, month, day)

In [7]:
date

datetime.datetime(2022, 2, 1, 0, 0)

In [8]:
date = datetime(year, month, day, hour, minute, sec)

In [9]:
date

datetime.datetime(2022, 2, 1, 15, 30, 15)

In [10]:
date.year

2022

In [11]:
date.microsecond

0

In [13]:
date.month

2

In [14]:
date.day

1

In [15]:
date.hour

15

In [16]:
date.minute

30

In [17]:
date.second

15

In [20]:
type(date)

datetime.datetime

### 2) Numpy Date Time:

In [18]:
import numpy as np

NumPy handles dates more efficiently than Python's datetime format.

The NumPy data type is called <em>datetime64</em> to distinguish it from Python's datetime.

In [22]:
x = np.array(["2022-01-01", "2022-01-02", "2022-01-03"])

In [23]:
x

array(['2022-01-01', '2022-01-02', '2022-01-03'], dtype='<U10')

In [24]:
x.dtype

dtype('<U10')

In [25]:
x = np.array(["2022-01-01", "2022-01-02", "2022-01-03"], dtype= "datetime64")

In [26]:
x

array(['2022-01-01', '2022-01-02', '2022-01-03'], dtype='datetime64[D]')

In [27]:
x.dtype

dtype('<M8[D]')

In [29]:
# [D] shows that the Dates are being stored at the precision of Days.

In [30]:
y = np.array(["2022-01-01", "2022-01-02", "2022-01-03"], dtype= "datetime64[h]") # Hour Level Precision

In [31]:
y

array(['2022-01-01T00', '2022-01-02T00', '2022-01-03T00'],
      dtype='datetime64[h]')

In [32]:
z = np.array(["2022-01-01", "2022-01-02", "2022-01-03"], dtype= "datetime64[Y]") # Year Level Precision

In [33]:
z

array(['2022', '2022', '2022'], dtype='datetime64[Y]')

In [37]:
np.array(["2022-01-01", "2022-01-02", "2022-01-03"], dtype= "datetime64[M]") # Month Level Precision

array(['2022-01', '2022-01', '2022-01'], dtype='datetime64[M]')

In [38]:
np.array(["2022-01-01", "2022-01-02", "2022-01-03"], dtype= "datetime64[m]") # Minute Level Precision

array(['2022-01-01T00:00', '2022-01-02T00:00', '2022-01-03T00:00'],
      dtype='datetime64[m]')

In [40]:
np.array(["2022-01-01", "2022-01-02", "2022-01-03"], dtype= "datetime64[s]") # Second Level Precision

array(['2022-01-01T00:00:00', '2022-01-02T00:00:00',
       '2022-01-03T00:00:00'], dtype='datetime64[s]')

In [42]:
np.array(["2022-01-01", "2022-01-02", "2022-01-03"], dtype= "datetime64[ms]") # MIli Second Level Precision

array(['2022-01-01T00:00:00.000', '2022-01-02T00:00:00.000',
       '2022-01-03T00:00:00.000'], dtype='datetime64[ms]')

In [44]:
np.array(["2022-01-01", "2022-01-02", "2022-01-03"], dtype= "datetime64[ns]") # Nano Second Level Precision

array(['2022-01-01T00:00:00.000000000', '2022-01-02T00:00:00.000000000',
       '2022-01-03T00:00:00.000000000'], dtype='datetime64[ns]')

Just as np.arange(start,stop,step) can be used to produce an array of evenly-spaced integers, we can pass a dtype argument to obtain an array of dates.

In [45]:
np.arange("2018-01-01", "2018-01-31", 7, dtype = "datetime64[D]")

array(['2018-01-01', '2018-01-08', '2018-01-15', '2018-01-22',
       '2018-01-29'], dtype='datetime64[D]')

In [46]:
# As we have provided "datetime64[D]" in dtype, 7 steps will be taken in the unit of days.

In [47]:
np.arange("2018-01-01", "2018-01-08", 7, dtype = "datetime64[h]")

array(['2018-01-01T00', '2018-01-01T07', '2018-01-01T14', '2018-01-01T21',
       '2018-01-02T04', '2018-01-02T11', '2018-01-02T18', '2018-01-03T01',
       '2018-01-03T08', '2018-01-03T15', '2018-01-03T22', '2018-01-04T05',
       '2018-01-04T12', '2018-01-04T19', '2018-01-05T02', '2018-01-05T09',
       '2018-01-05T16', '2018-01-05T23', '2018-01-06T06', '2018-01-06T13',
       '2018-01-06T20', '2018-01-07T03', '2018-01-07T10', '2018-01-07T17'],
      dtype='datetime64[h]')

In [48]:
# As we have provided "datetime64[h]" in dtype, 7 steps will be taken in the unit of hours.

In [49]:
np.arange("2018", "2040", dtype = "datetime64[Y]")

array(['2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025',
       '2026', '2027', '2028', '2029', '2030', '2031', '2032', '2033',
       '2034', '2035', '2036', '2037', '2038', '2039'],
      dtype='datetime64[Y]')

In [50]:
np.arange("2018", "2040", 2 , dtype = "datetime64[Y]")

array(['2018', '2020', '2022', '2024', '2026', '2028', '2030', '2032',
       '2034', '2036', '2038'], dtype='datetime64[Y]')

### 3) Pandas Date Time:

In [51]:
import pandas as pd

In [53]:
pd.date_range("2022-01-01", "2022-01-31", freq= "D")

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31'],
              dtype='datetime64[ns]', freq='D')

In [54]:
pd.date_range("2022-01-01", "2022-01-31", periods= 10)

DatetimeIndex(['2022-01-01 00:00:00', '2022-01-04 08:00:00',
               '2022-01-07 16:00:00', '2022-01-11 00:00:00',
               '2022-01-14 08:00:00', '2022-01-17 16:00:00',
               '2022-01-21 00:00:00', '2022-01-24 08:00:00',
               '2022-01-27 16:00:00', '2022-01-31 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [55]:
pd.date_range("2022-01-01", periods= 10, freq= "D")

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10'],
              dtype='datetime64[ns]', freq='D')

In [56]:
# Using to_datetime:

In [58]:
pd.to_datetime(["Jan 01, 2018", "2022-11-10", "01-Feb-1992", "01/11/2021"])

DatetimeIndex(['2018-01-01', '2022-11-10', '1992-02-01', '2021-01-11'], dtype='datetime64[ns]', freq=None)

In [59]:
# Pandas can Identify many formats for  Dates as shown above.

# If we want to convert some specific format of Date that Pandas can not recognize, we can specify format exclusively.

In [60]:
pd.to_datetime(["12-10-1956", "14-06-1998"], format= "%d-%m-%Y")

DatetimeIndex(['1956-10-12', '1998-06-14'], dtype='datetime64[ns]', freq=None)

In [61]:
pd.to_datetime(["12--10--1956", "14--06--1998"], format= "%d--%m--%Y")

DatetimeIndex(['1956-10-12', '1998-06-14'], dtype='datetime64[ns]', freq=None)

In [64]:
pd.to_datetime(["12--10--90", "14--06--98"], format= "%d--%m--%y")

DatetimeIndex(['1990-10-12', '1998-06-14'], dtype='datetime64[ns]', freq=None)

In [65]:
index = pd.date_range("2022-02-01", "2022-02-28", periods= 5)

In [66]:
index

DatetimeIndex(['2022-02-01 00:00:00', '2022-02-07 18:00:00',
               '2022-02-14 12:00:00', '2022-02-21 06:00:00',
               '2022-02-28 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [67]:
data = np.random.randn(5,2)

In [68]:
data

array([[-1.21262197, -1.21806289],
       [-1.49832495, -0.53694472],
       [-0.25778517, -0.70759321],
       [ 0.87531787,  1.12639761],
       [ 1.52268536, -0.88035007]])

In [69]:
df= pd.DataFrame(data= data, index= index, columns= ["A","B"])

In [70]:
df

                            A         B
2022-02-01 00:00:00 -1.212622 -1.218063
2022-02-07 18:00:00 -1.498325 -0.536945
2022-02-14 12:00:00 -0.257785 -0.707593
2022-02-21 06:00:00  0.875318  1.126398
2022-02-28 00:00:00  1.522685 -0.880350

In [71]:
df.index

DatetimeIndex(['2022-02-01 00:00:00', '2022-02-07 18:00:00',
               '2022-02-14 12:00:00', '2022-02-21 06:00:00',
               '2022-02-28 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [73]:
df.index.max()

Timestamp('2022-02-28 00:00:00')

In [74]:
df.index.min()

Timestamp('2022-02-01 00:00:00')

In [75]:
df.index.argmax()

4

In [76]:
df.index.argmin()

0